@import url(http://fonts.googleapis.com/css?family=Cuprum&subset=latin,cyrillic);
@import url(http://fonts.googleapis.com/css?family=Cuprum&subset=latin,cyrillic);

@font-face {
    font-family: 'alt_r';
    src: url('../fonts/alt_r.eot');
    src: url('../fonts/alt_r.eot') format('embedded-opentype'),
    url('../fonts/alt_r.woff2') format('woff2'),
    url('../fonts/alt_r.woff') format('woff'),
    url('../fonts/alt_r.ttf') format('truetype'),
    url('../fonts/alt_r.svg#alt_r') format('svg');
}

input, button{
    outline: none;
}

html {
  font-size: 14px;
  font-family: 'Cuprum', sans-serif; }

html, body {
  margin: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

button, input, textarea {
  font-family: 'Cuprum', sans-serif; }

figure {
  margin: 0;
  padding: 0; }

.relative {
  position: relative; }

.absolute {
  position: absolute; }

.fixed {
  position: fixed; }

.unstyled-textarea, .unstyled-input {
  background: none;
  box-sizing: border-box;
  border: none;
  padding: 0;
  margin: 0;
  width: auto; }

.unstyled-textarea {
  resize: none; }

.clear-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  list-style: none; }

.no-marg {
  margin: 0; }

.no-pad {
  padding: 0; }

.exact-fit {
  margin: 0;
  padding: 0; }

.disable-hover, .disable-hover * {
  pointer-events: none !important; }

.ir {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  left: -1000%;
  top: -1000%;
  text-indent: -1000%; }

img.r {
  width: 100%;
  height: auto;
  display: block; }

.center {
  text-align: center; }

.right {
  text-align: right; }

.left {
  text-align: left; }

.v-top {
  vertical-align: top; }

.v-middle {
  vertical-align: middle; }

.v-bottom {
  vertical-align: bottom; }

.pull-left {
  float: left; }

.pull-right {
  float: right; }

.pull-clear {
  clear: both; }
  .pull-clear:after {
    display: table;
    content: '';
    clear: both; }

.block {
  display: block !important; }

.inline {
  display: inline-block !important; }

.table {
  display: table; }

.list-item {
  display: list-item; }

.cell {
  display: table-cell; }

.black {
  color: #000000; }

.white {
  color: #ffffff; }

.bg-black {
  background-color: #000000; }

.bg-white {
  background-color: #ffffff; }

/* -----------------------------------------------------
	fonts weight
*/
.light {
  font-weight: 100; }

.semilight {
  font-weight: 300; }

.regular {
  font-weight: 400; }

.bold {
  font-weight: 600; }

.boldest {
  font-weight: 900; }

.lowercase {
  text-transform: lowercase; }

.uppercase {
  text-transform: uppercase; }

.underline {
  text-decoration: underline; }

a.underline:hover {
  text-decoration: none; }

.rev-underline {
  text-decoration: none; }

a.rev-underline:hover {
  text-decoration: underline; }

/* -----------------------------------------------------
	fonts size
*/
.font-6 {
  font-size: 6px; }

.font-7 {
  font-size: 7px; }

.font-8 {
  font-size: 8px; }

.font-9 {
  font-size: 9px; }

.font-10 {
  font-size: 10px; }

.font-11 {
  font-size: 11px; }

.font-12 {
  font-size: 12px; }

.font-13 {
  font-size: 13px; }

.font-14 {
  font-size: 14px; }

.font-15 {
  font-size: 15px; }

.font-16 {
  font-size: 16px; }

.font-17 {
  font-size: 17px; }

.font-18 {
  font-size: 18px; }

.font-19 {
  font-size: 19px; }

.font-20 {
  font-size: 20px; }

.font-21 {
  font-size: 21px; }

.font-22 {
  font-size: 22px; }

.font-23 {
  font-size: 23px; }

.font-24 {
  font-size: 24px; }

.font-25 {
  font-size: 25px; }

.font-26 {
  font-size: 26px; }

.font-27 {
  font-size: 27px; }

.font-28 {
  font-size: 28px; }

.font-29 {
  font-size: 29px; }

.font-30 {
  font-size: 30px; }

.font-31 {
  font-size: 31px; }

.font-32 {
  font-size: 32px; }

.font-33 {
  font-size: 33px; }

.font-34 {
  font-size: 34px; }

.font-35 {
  font-size: 35px; }

.font-36 {
  font-size: 36px; }

.font-37 {
  font-size: 37px; }

.font-38 {
  font-size: 38px; }

.font-39 {
  font-size: 39px; }

.font-40 {
  font-size: 40px; }

.font-41 {
  font-size: 41px; }

.font-42 {
  font-size: 42px; }

.font-43 {
  font-size: 43px; }

.font-44 {
  font-size: 44px; }

.font-45 {
  font-size: 45px; }

.font-46 {
  font-size: 46px; }

.font-47 {
  font-size: 47px; }

.font-48 {
  font-size: 48px; }

.font-49 {
  font-size: 49px; }

.font-50 {
  font-size: 50px; }

.font-51 {
  font-size: 51px; }

.font-52 {
  font-size: 52px; }

.font-53 {
  font-size: 53px; }

.font-54 {
  font-size: 54px; }

.font-55 {
  font-size: 55px; }

.font-56 {
  font-size: 56px; }

.font-57 {
  font-size: 57px; }

.font-58 {
  font-size: 58px; }

.font-59 {
  font-size: 59px; }

.font-60 {
  font-size: 60px; }

/* -----------------------------------------------------
	sizes array of indents
*/
.island-5 {
  padding: 5px; }

.island-10 {
  padding: 10px; }

.island-15 {
  padding: 15px; }

.island-20 {
  padding: 20px; }

.island-25 {
  padding: 25px; }

.island-30 {
  padding: 30px; }

.island-35 {
  padding: 35px; }

.island-40 {
  padding: 40px; }

/* -----------------------------------------------------
	PADDINGS
*/
.pad-h5 {
  padding-left: 5px;
  padding-right: 5px; }

.pad-h10 {
  padding-left: 10px;
  padding-right: 10px; }

.pad-h15 {
  padding-left: 15px;
  padding-right: 15px; }

.pad-h20 {
  padding-left: 20px;
  padding-right: 20px; }

.pad-h25 {
  padding-left: 25px;
  padding-right: 25px; }

.pad-h30 {
  padding-left: 30px;
  padding-right: 30px; }

.pad-h35 {
  padding-left: 35px;
  padding-right: 35px; }

.pad-h40 {
  padding-left: 40px;
  padding-right: 40px; }

.pad-v5 {
  padding-top: 5px;
  padding-bottom: 5px; }

.pad-v10 {
  padding-top: 10px;
  padding-bottom: 10px; }

.pad-v15 {
  padding-top: 15px;
  padding-bottom: 15px; }

.pad-v20 {
  padding-top: 20px;
  padding-bottom: 20px; }

.pad-v25 {
  padding-top: 25px;
  padding-bottom: 25px; }

.pad-v30 {
  padding-top: 30px;
  padding-bottom: 30px; }

.pad-v35 {
  padding-top: 35px;
  padding-bottom: 35px; }

.pad-v40 {
  padding-top: 40px;
  padding-bottom: 40px; }

.pad-top-5 {
  padding-top: 5px; }

.pad-top-10 {
  padding-top: 10px; }

.pad-top-15 {
  padding-top: 15px; }

.pad-top-20 {
  padding-top: 20px; }

.pad-top-25 {
  padding-top: 25px; }

.pad-top-30 {
  padding-top: 30px; }

.pad-top-35 {
  padding-top: 35px; }

.pad-top-40 {
  padding-top: 40px; }

.pad-bot-5 {
  padding-bottom: 5px; }

.pad-bot-10 {
  padding-bottom: 10px; }

.pad-bot-15 {
  padding-bottom: 15px; }

.pad-bot-20 {
  padding-bottom: 20px; }

.pad-bot-25 {
  padding-bottom: 25px; }

.pad-bot-30 {
  padding-bottom: 30px; }

.pad-bot-35 {
  padding-bottom: 35px; }

.pad-bot-40 {
  padding-bottom: 40px; }

.pad-left-5 {
  padding-left: 5px; }

.pad-left-10 {
  padding-left: 10px; }

.pad-left-15 {
  padding-left: 15px; }

.pad-left-20 {
  padding-left: 20px; }

.pad-left-25 {
  padding-left: 25px; }

.pad-left-30 {
  padding-left: 30px; }

.pad-left-35 {
  padding-left: 35px; }

.pad-left-40 {
  padding-left: 40px; }

.pad-right-5 {
  padding-right: 5px; }

.pad-right-10 {
  padding-right: 10px; }

.pad-right-15 {
  padding-right: 15px; }

.pad-right-20 {
  padding-right: 20px; }

.pad-right-25 {
  padding-right: 25px; }

.pad-right-30 {
  padding-right: 30px; }

.pad-right-35 {
  padding-right: 35px; }

.pad-right-40 {
  padding-right: 40px; }

/* -----------------------------------------------------
	MARGINS
*/
.marg-5 {
  margin: 5px; }

.marg-10 {
  margin: 10px; }

.marg-15 {
  margin: 15px; }

.marg-20 {
  margin: 20px; }

.marg-25 {
  margin: 25px; }

.marg-30 {
  margin: 30px; }

.marg-35 {
  margin: 35px; }

.marg-40 {
  margin: 40px; }

.marg-h5 {
  margin-left: 5px;
  margin-right: 5px; }

.marg-h10 {
  margin-left: 10px;
  margin-right: 10px; }

.marg-h15 {
  margin-left: 15px;
  margin-right: 15px; }

.marg-h20 {
  margin-left: 20px;
  margin-right: 20px; }

.marg-h25 {
  margin-left: 25px;
  margin-right: 25px; }

.marg-h30 {
  margin-left: 30px;
  margin-right: 30px; }

.marg-h35 {
  margin-left: 35px;
  margin-right: 35px; }

.marg-h40 {
  margin-left: 40px;
  margin-right: 40px; }

.marg-v5 {
  margin-top: 5px;
  margin-bottom: 5px; }

.marg-v10 {
  margin-top: 10px;
  margin-bottom: 10px; }

.marg-v15 {
  margin-top: 15px;
  margin-bottom: 15px; }

.marg-v20 {
  margin-top: 20px;
  margin-bottom: 20px; }

.marg-v25 {
  margin-top: 25px;
  margin-bottom: 25px; }

.marg-v30 {
  margin-top: 30px;
  margin-bottom: 30px; }

.marg-v35 {
  margin-top: 35px;
  margin-bottom: 35px; }

.marg-v40 {
  margin-top: 40px;
  margin-bottom: 40px; }

.marg-top-5 {
  margin-top: 5px; }

.marg-top-10 {
  margin-top: 10px; }

.marg-top-15 {
  margin-top: 15px; }

.marg-top-20 {
  margin-top: 20px; }

.marg-top-25 {
  margin-top: 25px; }

.marg-top-30 {
  margin-top: 30px; }

.marg-top-35 {
  margin-top: 35px; }

.marg-top-40 {
  margin-top: 40px; }

.marg-bot-5 {
  margin-bottom: 5px; }

.marg-bot-10 {
  margin-bottom: 10px; }

.marg-bot-15 {
  margin-bottom: 15px; }

.marg-bot-20 {
  margin-bottom: 20px; }

.marg-bot-25 {
  margin-bottom: 25px; }

.marg-bot-30 {
  margin-bottom: 30px; }

.marg-bot-35 {
  margin-bottom: 35px; }

.marg-bot-40 {
  margin-bottom: 40px; }

.marg-left-5 {
  margin-left: 5px; }

.marg-left-10 {
  margin-left: 10px; }

.marg-left-15 {
  margin-left: 15px; }

.marg-left-20 {
  margin-left: 20px; }

.marg-left-25 {
  margin-left: 25px; }

.marg-left-30 {
  margin-left: 30px; }

.marg-left-35 {
  margin-left: 35px; }

.marg-left-40 {
  margin-left: 40px; }

.marg-right-5 {
  margin-right: 5px; }

.marg-right-10 {
  margin-right: 10px; }

.marg-right-15 {
  margin-right: 15px; }

.marg-right-20 {
  margin-right: 20px; }

.marg-right-25 {
  margin-right: 25px; }

.marg-right-30 {
  margin-right: 30px; }

.marg-right-35 {
  margin-right: 35px; }

.marg-right-40 {
  margin-right: 40px; }

/*=-======================================================================================================================*/
.color-1{
    color: #74a7ba;
}
.color-2{
    color: #5d95a7;
}
.color-3{
    color: #d5f0f9;
}
.color-4{
    color: #aedae7;
}
.color-5{
    color: #489eb9;
}
.color-6{
    color: #96007c;
}
.color-7{
    color: #ff9bee;
}
.color-8{
    color: #5a014b;
}
.color-9{
    color: #009694;
}
.color-10{
    color: #ffcc02;
}

.z-10{
    position: relative;
    z-index: 10;
}
.f-alterna{
    font-family: 'alt_r', sans-serif;
    letter-spacing: -1px;
}
.f-cuprum{
    font-family: 'Cuprum', sans-serif;
}
.font-117{
    font-size: 117px;
}
.font-72{
    font-size: 72px;
}
.font-63{
    font-size: 63px;
}
.font-65{
    font-size: 65px;
}
.marg-top-500{
    margin-top: 500px;
}
.marg-top--22{
    margin-top: -22px;
}
.marg-top--23{
    margin-top: -23px;
}
.let-spa--04{
    letter-spacing: -0.4px;
}
.line-he-40{
    line-height: 40px;
}
.line-he-45{
    line-height: 45px;
}
.line-he-107{
    line-height: 107px;
}
.line-he-53{
    line-height: 53px;
}
.line-he-38{
    line-height: 38px;
}
.line-he-30{
    line-height: 30px;
}
.line-he-64{
    line-height: 64px;
}
.line-he-24{
    line-height: 24px;
}
.marg-left-165{
    margin-left: 165px;
}
.marg-left-186{
    margin-left: 186px;
}
.marg-left-11{
    margin-left: 11px;
}
.marg-left-2{
    margin-left: 2px;
}
.marg-left-65{
    margin-left: 65px;
}
.marg-bot-53{
    margin-bottom: 53px;
}
.marg-bot-110{
    margin-bottom: 110px;
}
.marg-bot-88{
    margin-bottom: 88px;
}
.marg-right-170{
    margin-right: 170px;
}
.marg-right-50{
    margin-right: 50px;
}
.marg-right-45{
    margin-right: 45px;
}

.pad-top-8{
    padding-top: 8px;
}
.marg-top-55{
    margin-top: 55px;
}


.wrap{
    width: 1024px;
    margin: 0 auto;
}
.first-box{
    position: relative;
}
.first-box-bg{
    background: url("../img/1.jpg")no-repeat;
    width: 1919px;
    height: 2102px;

    position: absolute;
    top: 57px;
    left: -426px;
}
.head-logo{
    background: url("../img/logo.png")no-repeat;
    width: 176px;
    height: 179px;

    position: absolute;
    top: 61px;
    left: 96px;
}
.phone{
    width: 292px;
    float: right;
    margin-top: 30px;
    letter-spacing: -1px;
}
.btn-1, .btn-3{
    text-decoration: none;
    color: #ffffff;
    background: url("../img/btn.png") 0 0 no-repeat;
    display: block;
    width: 267px;
    height: 61px;
    text-align: center;
    font-size: 20px;
    line-height: 47px;
    margin-top: 26px;
}
.btn-3{
    background: url("../img/btn2.png") 0 0 no-repeat;
    margin-top: 10px;
    z-index: 3;
}
.contacts-head{
    text-align: right;
}

.second-box{
    /*color: #96007c;*/
    /*border: 5px solid #ffffff;*/
    background: url("../img/box1.png")no-repeat;
    width: 779px;
    height: 779px;
    position: absolute;
    right: -156px;
    top: 71px;
    color: #ffffff;
    padding-top: 162px;
    z-index: 2;
}
.second-box-content{
    padding: 0 240px 0 70px;
}
.third-box{
    background: url("../img/box2.png")no-repeat;
    width: 779px;
    height: 774px;
    position: absolute;
    right: 228px;
    top: 460px;
}
.fourth-box{
    background: url("../img/box3.png")no-repeat;
    width: 779px;
    height: 776px;
    position: absolute;
    right: 612px;
    top: 842px;
}

.btn-2{
    display: block;
    text-decoration: none;
    color: #ffffff;
    width: 210px;
    height: 60px;
    border: 1px solid #ffffff;
    text-align: center;
    line-height: 63px;
    background: none;
    cursor: pointer;
}
.fifth-box{
    background: url("../img/box4.png")no-repeat;
    width: 1545px;
    height: 1565px;
    position: absolute;
    right: -546px;
    top: 0;
    margin-top: 849px;
    z-index: 2;
}
.content-1{
    position: absolute;
    left: 360px;
    top: 440px;
}
.content-2{
    position: absolute;
    left: 165px;
    top: 600px;
}
.content-3{
    position: absolute;
    left: 640px;
    top: 605px;
}
.content-4{
    position: absolute;
    left: 205px;
    top: 800px;
}
.content-5{
    position: absolute;
    left: 360px;
    top: 960px;
}
.content-6{
    position: absolute;
    left: 560px;
    top: 1145px;
}
.fifth-box-content{
    position: relative;
    padding: 259px 0 0 514px;
}
.sixth-box{
    margin-top: 2455px;
    margin-left: 75px;
}
.price{
    background: url("../img/price.png")no-repeat;
    width: 125px;
    height: 36px;
    position: absolute;
    bottom: 60px;
    right: 15px;
    font-family: 'Cuprum', sans-serif;
    font-size: 18px;
    color: #e4005b;
    line-height: 44px;
    text-align: center;
}
.gal-item{
    padding: 3px 3px 0 3px;
}
.sixth-box-gall{
    margin-top: 65px;
    z-index: 1;
    position: relative;
}
.show-more{
    margin-top: 5px;
    text-align: center;
    color: #96007c;
    display: block;
    width: 900px;
    height: 50px;
    line-height: 50px;
    background: #fae000;
    text-decoration: none;
    margin-left: 3px;
}
.seventh-box{
    background: url("../img/box7.png")no-repeat;
    width: 1278px;
    height: 1278px;
    position: absolute;
    top: -797px;
    left: -794px;
}
.ninth-box{
    background: url("../img/box9.png")no-repeat;
    width: 948px;
    height: 947px;
    position: absolute;
    top: 479px;
    left: 482px;
    z-index: -1;
}
.tenth-box{
    background: url("../img/box10.png")no-repeat;
    width: 1180px;
    height: 1180px;
    position: absolute;
    top: 948px;
    left: 952px;
}

.eighth-box{
    background: url("../img/box8.png")no-repeat;
    width: 958px;
    height: 958px;
    position: absolute;
    top: 0;
    left: -144px;
    margin-top: 50px;
}
.eight-box-content{
    padding: 170px 194px 0 204px;
    position: relative;
}
.input{
    float: right;
    width: 59%;
    height: 40px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    border: 1px solid #47003a;
    background: #640647;
    color: #ffffff;
    padding: 0 20px;
    line-height: 40px;
    font-size: 14px;
}
.eleventh-box{
    margin-top: 978px;
    margin-left: -50px;
    padding-left: 75px;
}
.twelfth-box-x{
    position: absolute;
    top: 0;
    left: 76px;
    z-index: 3;
}
.twelfth-box{
    background: #96007c;
    display: block;
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 1420px;
    height: 900px;
    position: absolute;
    top: 382px;
    left: 201px;
    overflow: hidden;
    border: 5px solid #96007c;
    padding: 5px;
    z-index: 2;
}
.twelfth-box-content{
    line-height: 42px;
    margin-left: 510px;
    margin-top: 209px;
    position: relative;
    z-index: 1;
}
.twelfth-box iframe{
    margin: 70px 0 0 -56px;
    width: 107%;
    height: 106%;
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}


.footer{
    width: 1760px;
    height: 1380px;
    overflow: hidden;
    top: -378px;
    left: 73px;
}
.footer-right-bg{
    background: url("../img/footer-right.png") 0 0 no-repeat;
    width: 152px;
    height: 303px;
    position: absolute;
    z-index: 2;
    right: -25px;
    top: -100px;
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.thirteenth-box{
    background: url("../img/box12.png")no-repeat;
    /*-moz-transform: rotate(-45deg);*/
    /*-webkit-transform: rotate(-45deg);*/
    /*-o-transform: rotate(-45deg);*/
    /*-ms-transform: rotate(-45deg);*/
    /*transform: rotate(-45deg);*/
    /*background: #008198;*/
    /*border: 10px solid #ffffff;*/
    position: absolute;
    left: -863px;
    top: 0;
    width: 2033px;
    height: 682px;
    padding-left: 911px;
    padding-top: 43px;
}
.footer-2{
    height: 725px;
    overflow: hidden;
    margin-top: -1104px;
}


@-moz-document url-prefix() {
    .footer {
        top: -406px;
        left: 74px;
    }
    .footer-2 {
        margin-top: -1133px;
    }
}
.ie-fix-1{
    position: relative;
    z-index: 3;
}